html, body {
	height: 100%;
	font-family: 'Averia Serif Libre';
	/*background: linear-gradient(to right, gray, white, gray);*/
	/*background: linear-gradient(to right, #dff8f2, #75c0f1, #dff8f2)*/
	/*background: linear-gradient(to right, #666666, #000000, #666666)*/
	background: linear-gradient(to right, #eeeeee, #666666, #eeeeee)
}

body {
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: url(img/early-winter.jpg);
	background-size: 1600px;
	background-repeat: no-repeat;
	background-position: center;
}

header, footer {
	color: #ffffff;
	background-color: #333333;
	padding: 0 1em;
	width: calc(100% - 2em);
	text-align: center;
}

header h1 {
	margin: .5em 0 0;
}

header h2 {
	font-size: 1em;
	margin: 0 0 .5em 0;
	font-style: italic;
}

header hr {
	width: 50%;
}

main {
	flex-grow: 1;
	width: 820px;
	padding: 1em 0;
}

div {
	background-color: rgba(255,255,255,.8);
	border: 1px solid black;
	padding: 1em;
}

@font-face {
	font-family: 'Gravitas One';
	src: url('fonts/Gravitas_One/GravitasOne.ttf') format('truetype');
}

@font-face {
	font-family: 'Averia Serif Libre';
	src: url('fonts/Averia_Serif_Libre/AveriaSerifLibre-Regular.ttf') format('truetype');
}

h1 {
	font-family: 'Averia Serif Libre';
}

.nav {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1em;
}

.nav > div {
	width: 100px;
	background-color: red;
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
    border-left: 1px solid white;
    padding: 0 1em;
}

li:last-child {
	border-right: 1px solid white;
}

