html, body {
	height: 100%;
	font-family: 'Averia Serif Libre';
	/*background: linear-gradient(to right, gray, white, gray);*/
	/*background: linear-gradient(to right, #dff8f2, #75c0f1, #dff8f2)*/
	/*background: linear-gradient(to right, #666666, #000000, #666666)*/
	background: linear-gradient(to right, #eeeeee, #666666, #eeeeee)
}

body {
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

main > section:first-child {
	margin-top: 0;
}

section.season {
	background-size: calc(100vw - 4em);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	margin: 1em 0;
	padding: 2em 1em 5em;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 640px;
}

section.winter {
	background-image: url(img/early-winter.jpg);
}

section.spring {
	background-image: url(img/spring.jpg);
}

section.early-spring {
	background-image: url(img/early-spring.jpg);
}

section.summer {
	background-image: url(img/summer.jpg);
}

section.late-summer {
	background-image: url(img/late-summer.jpg);
}

section.fall {
	background-image: url(img/fall.jpg);
}

header, footer {
	color: #ffffff;
	background-color: #333333;
	padding: 0 1em;
	width: calc(100% - 2em);
	text-align: center;
}

header h1 {
	margin: .5em 0 0;
}

header h2 {
	font-size: 1em;
	margin: 0 0 .5em 0;
	font-style: italic;
}

header hr {
	width: 50%;
}

.nav a {
	color: white;
}

main {
	width: 100%;
	padding: 1em 0;
}

main > h1 {
	text-align: center;
	color: rgba(0,0,0,0.8);
}

main > hr {
	width: 30%;
}

div {
	background-color: rgba(255,255,255,.8);
	border: 1px solid black;
	padding: 1em;
	width: 820px;
}
/*
@font-face {
	font-family: 'Gravitas One';
	src: url('fonts/Gravitas_One/GravitasOne.ttf') format('truetype');
}*/

@font-face {
	font-family: 'Averia Serif Libre';
	src: url('fonts/Averia_Serif_Libre/AveriaSerifLibre-Regular.ttf') format('truetype');
}

h1 {
	font-family: 'Averia Serif Libre';
}

ul.nav {
    list-style-type: none;
}

ul.nav > li {
    display: inline-block;
    border-left: 1px solid white;
    padding: 0 1em;
}

li:last-child {
	border-right: 1px solid white;
}

main > div {
	margin-bottom: 3em;
}

#mom {
	float: right;
}

